.container {
  width: 90%;
  margin: 0 auto;

  text-align: center;

  h1 {
    text-transform: uppercase;
    padding: 2rem 0;
  }

  p {
    font-weight: 200;
  }

  .card__grid {
    display: flex;
    gap: 2rem;
    flex-direction: column;

    padding: 2rem 0;
  }
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 0.5rem 0;

  color: var(--secondary-txt);
  background-color: var(--secondary-bkg);

  font-weight: 400;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .container {
    .card__grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media screen and (min-width: 1200px) {
  .container {
    .card__grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
